@import url("header.css");
:root {
    --cor-de-fundo: #EBECEE;
    --laranja: #EB9B00;
    --cor-secundaria: #002F52;
    --cor-texto: #000000;
    --branco: #ffffff;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}

body {
    background-color: var(--cor-de-fundo);;
}
